<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.TeacherMapper">

    <sql id="commonSelect">
        select stu_id, course_id, score, ordinary, ending, status
        from selection
    </sql>

    <sql id="common">
        select staff_id, name,  class className, university, college, password
        from teacher
    </sql>

    <update id="update">
        update teacher
        <set>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="className != null">
                class=#{className},
            </if>
            <if test="permission != null">
                permission=#{permission},
            </if>
            <if test="college != null and college != ''">
                college=#{college}
            </if>
        </set>
        where staff_id=#{staffId} and university=#{university}
    </update>

    <select id="findSelectedStudent" resultType="com.example.pojo.Score">
        <include refid="commonSelect" />
        <where>
            <if test="courseIds != null and !courseIds.isEmpty()">
                and course_id in
                <foreach collection="courseIds" item="courseId" separator="," open="(" close=")">
                    #{courseId}
                </foreach>
            </if>
            <if test="stuIds != null and !stuIds.isEmpty()">
                and stu_id in
                <foreach collection="stuIds" item="stuId" separator="," open="(" close=")">
                    #{stuId}
                </foreach>
            </if>
            <if test="university != null and university != ''">
                and university=#{university}
            </if>
        </where>
        order by stu_id desc
    </select>
    <select id="pageList" resultType="com.example.pojo.Vo.TeacherAdmin">
        <include refid="common" />
        <where>
            <if test="name !=null and name != ''">
                name like concat('%',#{name},'%')
            </if>
            <if test="college != null and college != ''">
                and college like concat('%',#{college},'%')
            </if>
            <if test="staffId !=null">
                and staff_id like concat('%',#{staffId},'%')
            </if>
            <if test="university != null and university != ''">
                and university=#{university}
            </if>
        </where>
        order by staff_id desc
    </select>
</mapper>